<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>รายงาน</title>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Sarabun', sans-serif;
            margin: 0; /* ตั้งค่าการเว้นวรรคทั้งหมดเป็น 0 */
            padding: 0px 10px; /* ตั้งค่าการขอบทั้งหมดเป็น 0 */
        }
        .content-wrapper {
            margin: 60px 60px 60px 60px; /* ตั้งค่าขอบที่นี่ */
        }
        .header {
            font-size: 10pt;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .subheader {
            font-size: 10pt;
            margin-bottom: 5px;
        }
        .content {
            font-size: 10pt;
            margin-bottom: 5px;
            line-height: 1.6; /* เพิ่มระยะห่างระหว่างบรรทัด */
        }
        .fristcontent {
            font-size: 10pt;
            margin-bottom: 0px;
            text-indent: 40px;
        }
        .table {
            width: 100%;
            margin-bottom: 10px;
        }
        .table td {
            vertical-align: top;
        }
        .justify {
            text-align: justify;
            text-align-last: left;

        }
    </style>
</head>
<body>
    <img src="images/logo.jpg" width="150" style="margin-bottom: 5px;">
    <table class="table">
        <tr>
            <td class="subheader">จาก    กฟส.ตผ.</td>
            <td class="subheader" style="margin: 50px 0px 0px 0px;">ถึง กบฟ.ฉ.2</td>
        </tr>
        <tr>
            <td class="subheader">เลขที่</td>
            <td class="subheader" style="margin: 50px 0px 0px 0px;">วันที่</td>
        </tr>
    </table>
    <p class="subheader">เรื่อง รายงานผลการสอบข้อเท็จจริงความรับผิดชอบทางละเมิด ลูกหนี้ค่าไฟฟ้าบัญชี 121010</p>
    <p class="subheader">เรียน อก.บฟ.ฉ.2</p>
    <p class="header">1. เรื่องเดิม</p>
    <p class="fristcontent justify">ตามหนังสือ ได้แต่งตั้งคณะกรรมการสอบข้อเท็จจริงความรับผิดทางละเมิด ลูกหนี้บัญชี 121010 ของ {ตัวแปร} ที่ค้างชำระและเรียกเก็บเงินไม่ได้ ณ เดือน {ตัวแปร} จำนวน {ตัวแปร} ราย จำนวนเงิน บาท  ( ) ตามรายละเอียดแนบ</p>
    <p class="header">2. ข้อเท็จจริง</p>
    <p class="fristcontent justify">คณะกรรมการฯ ได้ดำเนินการสอบข้อเท็จจริงพิจารณาหาหลักฐานเอกสารข้อมูลต่างๆ ตลอดจนสอบปากคำและให้ผู้เกี่ยวข้องชี้แจงการดำเนินการปฏิบัติงานแล้ว จึงขอสรุปผลการพิจารณา โดยมีรายละเอียดดังนี้</p>
    <p class="content justify" style="text-indent: 40px;">2.1 ลูกหนี้ค่าไฟฟ้าชำระเงินแล้วจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท</p>
    <p class="content justify" style="text-indent: 40px;">2.2 ลูกหนี้ค่าไฟฟ้า พนักงาน รับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท</p>
    <p class="content justify" style="text-indent: 40px;">2.3 ลูกหนี้ค่าไฟฟ้า พนักงาน รับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท (พนักงานช่าง/นำมิเตอร์คืนคลังล่าช้า)</p>
    <p class="content justify" style="text-indent: 40px;">2.4 ลูกหนี้ค่าไฟฟ้า ผู้รับจ้าง รับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท</p>
    <p class="content justify" style="text-indent: 40px;">2.5 ลูกหนี้ค่าไฟฟ้า กฟภ.รับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท</p>
    <p class="fristcontent justify">โดยพิจารณาขอบเขตความรับผิดชอบตาม ฝคส.104/2566 ลว. 19 พฤษภาคม 2566 ดังนี้</p>
    <p class="content justify" style="text-indent: 80px;">2.4.1 ลูกหนี้ค้างชำระเดือนแรก เกิดขึ้นจากผู้ใช้ไฟได้ใช้ไฟฟ้าไปก่อนล่วงหน้า ประมาณ 1 เดือน เป็นลูกหนี้ค่าไฟฟ้าที่เกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาค</p>
    <p class="content justify" style="text-indent: 80px;">2.4.2 ลูกหนี้ค่าไฟฟ้าค้างชำระเดือนที่สอง ต้องเป็นลูกหนี้ค่าไฟฟ้าค้างชำระของเดือนที่ต่อเนื่องจากลูกหนี้ค่าไฟฟ้าค้างชำระเดือนแรก หรือที่คงเหลือหลังดำเนินการเปลี่ยนสถานะลูกหนี้ค่าไฟฟ้า พิจารณาดังนี้</p>
    <p class="content justify" style="text-indent: 120px;">2.4.2.1 กรณีที่เกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาคทั้งหมด ซึ่งต้องดำเนินการสั่งงานเป็นประจำทุกวันตามแผน แต่ต้องไม่เกิน 22 วันทำการ นับจากวันอนุมัติงดจ่ายไฟ ถึง วันเริ่มงานงดจ่ายไฟในระบบ SAP ให้การไฟฟ้าส่วนภูมิภาครับผิดชอบเต็มจำนวน</p>
    <p class="content justify" style="text-indent: 120px;">2.4.2.2 กรณีที่เกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาคและความบกพร่องของพนักงาน ให้การไฟฟ้าส่วนภูมิภาครับผิดชอบตามสัดส่วนของจำนวนวันที่เกิดจากระบบงาน สำหรับพนักงานผู้เกี่ยวข้องที่ไม่ปฏิบัติตามระเบียบการไฟฟ้าส่วนภูมิภาคว่าด้วยการเงิน และหรือข้อบังคับ/ระเบียบ/หลักเกณฑ์/อนุมัติ ผวก. ที่เกี่ยวข้องซึ่งบังคับใช้ในขณะนั้น ทำให้การไฟฟ้าส่วนภูมิภาคได้รับความเสียหาย ให้รับผิดชอบชดใช้ค่าสินไหมทดแทน ตามสัดส่วนจำนวนวันที่ปฏิบัติงานไม่ถูกต้อง</p>
    <p class="content justify" style="text-indent: 120px;">2.4.2.3 ลูกหนี้ค่าไฟฟ้าค้างชำระเดือนที่สองเป็นค่าไฟฟ้าขั้นต่ำ ตามโครงสร้างอัตราค่าไฟฟ้าถือว่าเกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาค ให้การไฟฟ้าส่วนภูมิภาครับผิดชอบเต็มจำนวน</p>
    <p class="content justify" style="text-indent: 80px;">2.4.3 ลูกหนี้ค่าไฟฟ้าค้างชำระเดือนที่สาม ต้องเป็นลูกหนี้ค่าไฟฟ้าค้างชำระของเดือนที่ต่อเนื่องจากลูกหนี้ค่าไฟฟ้าค้างชำระเดือนที่สอง ซึ่งเกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาค หรือพนักงานผู้เกี่ยวข้องไม่ปฏิบัติตามระเบียบการไฟฟ้าส่วนภูมิภาคว่าด้วยการเงิน และหรือข้อบังคับ/ระเบียบ/หลักเกณฑ์/อนุมัติ ผวก. ที่เกี่ยวข้องซึ่งบังคับใช้ในขณะนั้น</p>
    <p class="content justify" style="text-indent: 120px;">2.4.3.1 กรณีที่เกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาคทั้งหมด ให้การไฟฟ้าส่วนภูมิภาครับผิดชอบเต็มจำนวน</p>
    <p class="content justify" style="text-indent: 120px;">2.4.3.2 กรณีที่เกิดขึ้นตามขั้นตอนการปฏิบัติงานของการไฟฟ้าส่วนภูมิภาคและความบกพร่องของพนักงาน ให้การไฟฟ้าส่วนภูมิภาครับผิดชอบตามสัดส่วนของจำนวนวันที่เกิดจากระบบงาน สำหรับพนักงานผู้เกี่ยวข้องที่ไม่ปฏิบัติตามระเบียบการไฟฟ้าส่วนภูมิภาคว่าด้วยการเงิน และหรือข้อบังคับ/ระเบียบ/หลักเกณฑ์/อนุมัติ ผวก. ที่เกี่ยวข้องซึ่งบังคับใช้ในขณะนั้น ทำให้การไฟฟ้าส่วนภูมิภาคได้รับความเสียหาย ให้รับผิดชอบชดใช้ค่าสินไหมทดแทน ตามสัดส่วนจำนวนวันที่ปฏิบัติงานไม่ถูกต้อง</p>
    <p class="header">3. ข้อพิจารณา</p>
    <p class="fristcontent">จากข้อเท็จจริงข้างต้น คณะกรรมการฯ ได้สรุปผลการพิจารณาได้ดังนี้</p>
    <p class="content justify" style="text-indent: 40px;">3.1 ลูกหนี้ค่าไฟฟ้าชำระเงินแล้วจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท ( {ตัวแปร}) เห็นควรยุติเรื่อง</p>
    <p class="content justify" style="text-indent: 40px;">3.2 ลูกหนี้ค่าไฟฟ้า พนักงานรับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท ( {ตัวแปร}) พบช.หรือ ลบช.ผู้ปฏิบัติ/ควบคุมการงดจ่ายไฟ</p>

    <p class="content justify" style="text-indent: 40px;">3.3 ลูกหนี้ค่าไฟฟ้า พนักงานรับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท ({ตัวแปร} ) พชง.กฟย. ปฏิบัติหน้าที่นำมิเตอร์คืนคลัง</p>

    <p class="content justify" style="text-indent: 40px;">3.4 ลูกหนี้ค่าไฟฟ้า ผู้รับจ้างรับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท ({ตัวแปร} )</p>

    <p class="content justify" style="text-indent: 40px;">3.5 ลูกหนี้ค่าไฟฟ้า กฟภ.รับผิดชอบจำนวน {ตัวแปร} ราย จำนวนเงิน {ตัวแปร} บาท ({ตัวแปร} )</p>
    <p class="content justify">ให้ ({ตัวแปร} ) ติดตามเร่งรัดหนี้จากผู้ใช้ไฟ หากยังไม่สามารถเรียกเก็บเงินได้ ให้ดำเนินการตามหลักเกณฑ์ของ กฟภ.ว่าด้วยการจำหน่ายทรัพย์สินและหนี้สูญออกจากบัญชี พ.ศ. 2536 ต่อไป</p>
    <p class="header">4. ข้อเสนอ</p>
    <p class="fristcontent">จึงเรียนมาเพื่อโปรดพิจารณา พร้อมนี้ได้แนบรายละเอียดมาเพื่อประกอบการพิจารณาด้วยแล้ว</p>

    <p class="content" style="text-indent: 400px; margin-top: 50px;" >(ลงชื่อ).............................ประธานกรรมการ</p>
    <p class="content" style="text-indent: 400px;">(.............................................)</p>

    <p class="content" style="text-indent: 400px;">(ลงชื่อ).............................กรรมการ</p>
    <p class="content" style="text-indent: 400px;">(.............................................)</p>

    <p class="content" style="text-indent: 400px;">(ลงชื่อ).............................กรรมการ</p>
    <p class="content" style="text-indent: 400px;">(.............................................)</p>

    <p class="content">ที่</p>
    <p class="content">เรียน อก.บฟ.ฉ.2</p>
    <p class="content">จึงเรียนมาเพื่อโปรดทราบ และแจ้งส่วนเกี่ยวข้องดำเนินการต่อไป</p>
</body>
</html>